* {
    /* font-family: 'Armata', sans-serif; */
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #ededed;
}

body {
    /* background-color: #4effe4; */
}

#home-container,
#gamecontainer,
#level-overview-container,
#board-container,
#progress-container,
#win-container,
#description-container,
#gamecontainerlvl5 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: grid;
    justify-items: center;
    align-items: center;
}

.box,
button,#pdfdownload{
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center;

    font-size: 2rem;
    color: #ffffffce;
    margin: auto;
    padding: 5px;
    border: 0.1rem;
    border-color: #48ffd5;
    border-radius: 10px;
    border-style: solid;
    background-image: url("./images/background.png");
}

/* Nav */
#navmain,
#gameNavbar{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

    border: 0px;
    border-bottom: 0.15rem;
    border-style: solid;
    border-color: #ffffffce;
}

#navmain {
    justify-content: space-between;
    /* background-color: #0e2a47; */
    background-image: url("./images/background.png");
}

nav .navlinks {
    display: flex;
    justify-content: space-between;
    padding-right: 0.5vw;
}

nav a {
    text-decoration: none;
    color: #ededed;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-size: clamp(0.5rem,2.5rem,4vw);
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.logo {
    /* width: 50vw; */
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 0.1rem;
}

.logo img {
    width: 3rem;
    height: 3rem;
}

.active {
    color: #48ffd5;
}

nav a:hover {
    color: #48ffd5;
    background-color: #ededed13;
    border-radius: 5px;
}

/* Home */
#home-container{
    background-image: url("./images/factory2.1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#blog {
    /* background-color: #00000091; */
    display: grid;
    grid-template-columns: 32vw 32vw 32vw;
    grid-template-rows: 50vh 22vh 20vh;
    grid-template-areas: 
    "one one two"
    "three three three"
    "four four four";
    height: 91vh;
}

#home-info {
    /* background-color: rgba(255, 0, 0, 0.715); */
    grid-area: one;
    display: grid;
    align-content: center;
    font-size: clamp(0.1rem,2vw,2rem);
    padding: 1rem;
    /* height: 40vh; */
}

#home-info h1,
#home-info p
{
    /* background-color: #000000; */
    color: #ededed;
    /* font-size: clamp(0.1rem,2vw,2rem); */
    /* font-size: clamp(0.1rem,2vw,2rem); */
}

#accountgrid{
    /* background-color: rgba(137, 43, 226, 0.787); */
    /* height: 40vh; */
    padding: 1vh;
    grid-area: two; 
    display: flex;
    justify-content: right;
}
#account{
    background-color: #edededbc;
    height: min-content;
    /* border-color: #48ffd5;
    border-style: solid;
    border-width: 1px; */
    width: 20rem;
}
#login-message p,label{
    color: #000000;
}
label {
    /* float: left;
    clear: left; */
    text-align: left;
}
input {
    float: left;
    color: #000000;
    background-color: #ededed;
    border-color: #48ffd5;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    height: 1.5vh;
    margin: 0.5rem;
    font-size: clamp(0.1rem,1.3rem,1.03vw);
    padding: 4px;
}
#loginbutton,#logoutbutton{
    border:0;
    color: #000000;
    background-color: #6dffdd;
    background-image: none;
    font-size: clamp(0.1rem,2vw,2rem);
}
#user-login,
#login-message{
    font-size: clamp(0.1rem,2vw,2rem);
    display: grid;
    align-items: center;
}

#play{
    /* background-color: rgba(255, 255, 0, 0.655); */
    grid-area: four;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playbutton{
    text-transform: uppercase;
    background-size: cover;
    color: #48ffd5;
    padding: 1vw;
    font-size: clamp(0.1rem,2vw,2rem);
    border-radius: 5rem;
    border: 0.1rem;
    border-width: thin;
    border-style: solid;
}

#playbutton:hover,
#gamecontainer button:hover,
.levelOverview-button:hover,
#gamecontainerlvl5 button:hover {
    background-image: none;
    color: #0e2a47;
    background-color: #48ffd5;
}

#how-to-play-grid {
    /* background-color: rgba(0, 128, 0, 0.751); */
    grid-area: three;
    padding: 2vw;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#how-to-play{
    background-color: #edededcd;
    border-radius: 2px;
    /* height: 20vh; */
}

#how-to-play p,
#how-to-play h3 {
    /* padding: 0.1vw; */
    font-size: clamp(0.1rem,1.3rem,1.03vw);
    color: #000000;
}

/* Game-nav*/
#gameNavbar {
    justify-content: space-between;
    background-image: url(images/background2.jpg);
}

.navgamecontent {
    width: 20vw;
    color: #000000;
    font-size: 2vmax;
    text-transform: uppercase;
    text-align: left;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#navlevelround {
    width: 80vw;
    justify-content: left;
}

#navtimer {
    width: 10vw;
}

.navgamecontent p {
    margin-right: 2vmax;
    color: #0b2037;
}

#score {
    width: 45vw;
    justify-content: right;
}

.gameNavbar-blue {
    color: #1c62ad;
}

/* Gamecontainer */
#gamecontainer {
    background-image: url(images/serverroom.jpg);
    background-position: center, center;
    background-size: cover;
}

#gamecontainerlvl5 {
    position: absolute;
    top: 10vh;
}

#backgroundlvl5container {
    height: 90vh;
    background-color: #ededed;
}

#backgroundlvl5 {
    display: block;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    filter: blur(3px);
}

#game {
    width: 100vw;
    max-height: 90vh;
    aspect-ratio: 100/44.1;
}

#event {
    aspect-ratio: 100/30;
    display: flex;
}

#eventmessagecontainer,
#eventimagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#eventmessagecontainer {
    aspect-ratio: 1;
    /* max-height: 48vh; */
}

#eventimagecontainer {
    aspect-ratio: 100/43;
}

#actionscontainer {
    aspect-ratio: 100/14;
    display: flex;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

#eventmessage {
    font-size: 1.3vmax;

    background-color: #edededcf;
    color: #0b2037;
    margin: auto;
    border-style: solid;
    border-color: #48ffd5;
    border-radius: 0px;

    width: 25vw;
    max-height: 48vh;
    aspect-ratio: 1;
    overflow: scroll;
    overflow-x: hidden;
}

#event-text {
    color: #0b2037;
}

#eventimage {
    display: flex;
    justify-content: center;

    width: 60vw;
    max-height: 50vh;
    aspect-ratio: 100/44.1;
}

#gamecontainer button,
#gamecontainerlvl5 button {
    width: 15vw;
    max-height: 25vh;
    aspect-ratio: 1;
    margin-left: 0.1vmax;
    margin-right: 0.1vmax;
    font-size: 1.2vmax;
}

/* levelcompletion */


/* leveloverview */
#level-overview-container {
    background-image: url("./images/factory2.1.png");
}

#playfield {
    background-image: url("./images/leveloverviewbackground1.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 90vw;
    max-height: 85vh;
    aspect-ratio: 2/1;

    border: 0.1rem;
    border: #48ffd5;
    border-width: medium;
    border-style: solid;
    border-radius: 15px;
}

.levelButton {
    font-size: 1.5vmin;
    margin: auto;
    border: 0.2vmin;
    border-style: solid;
    border-color: #48ffd5;
    border-radius: 50%;
    height: 3vmin;
    width: 3vmin;
    position: relative;
}

.levelButton .boxDescriptionButton {
    opacity: 0;
    position: absolute;
    top: -2.3vh;
    left: -10vh;
    width: 11vw;
    height: 8vh; 
}
span{
    color: #0b2037;
    background-color: rgba(255, 255, 255, 0.903);
    border-color: #6dffdd;
    border-style: solid;
    border-width: 0.2px;
    border-radius: 4px;
    padding: 3px;
    font-size: medium;
}
.levelButton .boxDescriptionButton:hover {
    opacity: 1;
}

.levelButton:hover {
    background-image: none;
    color: #0e2a47;
    background-color: #ededed;
}

#levelButton1 {
    top: 39%;
    left: 12.5%;
}

#levelButton2 {
    top: 48%;
    left: 18%;
}

#levelButton3 {
    top: 52%;
    left: 31%;
}

#levelButton4 {
    top: 65%;
    left: 48%;
}

#levelButton5 {
    top: 73%;
    left: 74%;
}

/* Leaderboard */

#board-container {
    background-image: url("./images/oilrig2.png");

    background-attachment: fixed;
    background-position: 0 top;
    height: auto;
    min-height: 100vh;
}

table,
td,
th {
    background-color: #e7e7e764;
    margin: 20px;
    border: solid 1px;
    border-collapse: collapse;
    font-size: 30px;
    color: #0b2037;
    border-color: #ededed;
    text-align: left;
    padding: 1vh;
}

#board tr:nth-of-type(even) {
    background-color: #48ffd471;
}

#board th {
    border: solid 1px;
    font-weight: 900;
    border-bottom: solid 1px;
    background-color: #0b2037ad;
    color: #6dffdd;
    border-color: #ededed;
}

/* Progress */
#progress-container {
    background-image: url("./images/factory1.png");
    justify-content: left;
}

#progress-container h1, #progress-container h2, #progress-container td, #progress-container th{
font-size: clamp(0.1rem,1.3rem,1.03vw);
}
/* Win */
#win-container {
    background-image: url("./images/Leveloverviewblurred.png");
    background-position: center center;
}

#win-description {
    font-size: 1vmax;
}

.levelOverview-button {
    font-size: 1vmax;
}

/* Score */
.score-green {
    color: green;
}

.score-red {
    color: red;
}

/* Leveldescription */
#description-container {
    background-image: url("./images/Leveloverviewblurred.png");
    background-position: center center;
}

#level-description {
    font-size: 1vmax;
}

#description-container .box {
    background-image: none;
    background-color: #3bc9a895;
    border-color: #0b2037;
    width: 50vw;
    height: 25vh;
    display: grid;
    justify-items: center;
}

.box2 {
    background-color: #3bc9a895;
    border-radius: 0.5vh;
}

#pdfdownload{
    font-size: 1.2rem;
    text-decoration: none;
}

/* footer */
footer {
    /*     width: 99.1vw; */
    background-image: url(images/background2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 11vh;
    font-size: clamp(0.1rem,1.3rem,1.03vw);
}

a:hover {
    color: #0b2037;
}