*{
    /* font-family: 'Armata', sans-serif; */
    font-family: 'Roboto', sans-serif;
 margin: 0px;
 padding: 0px;
}
h1{
    font-weight: 50vmax;
}
div{
    color: #ffffffe8;
}
body{
    background-color: #ffffffce;
}
/* Nav */
#navmain{
    width: 98vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background-position: center;

    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center; /* align vertical */
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 9.7vh;

    border: 0px;
    border-bottom: 0.3vh;
    border-style: solid;
    border-color: #ffffffe8;
    min-height: 1.5rem;
}
.navlinks { 
    width: 50vw;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
 }
nav a{ 
    text-decoration: none;
    color: #ffffffe8;
    font-size: clamp(1vmax,2vmax,2vmax);
    text-transform: uppercase;
    text-align: right;
    vertical-align: middle;
}

.logo{
    width: 50vw;
    display: flex;
    justify-content: left;
}
 .logo img{
    width: 8vh;
    height: 8vh;
    min-height: 2vmax;
    min-width: 2vmax;
}

.active{
    color: #48ffd5;
}
a:hover{
    color: #48ffd5;
}

/* Home */
#home-container{
    background-image: url("./images/factory2.1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;

    display: grid;
    justify-items: center;
}

#home-info{
    font-size: clamp(0.5vmax,0.5vmax,1vmax);
    padding: 5px;
    border: 0.1rem;
    height: 8vh;
    
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center;


    color: #ffffffce;
    margin: auto;
    
    border-style: solid;
    border-color: #48ffd5;
    border-radius: 10px;
}
#how-to-play{
    
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center;
    
    font-size: 0.7vmax;
    color: #ffffffce;
    margin: auto;
    padding: 5px;
    border: 0.1rem;
    border-style: solid;
    border-color: #48ffd5;
    border-radius: 10px;
}
#user-login,#instructionbutton{  
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center;

    color: #ffffffce;
    margin: auto;
    padding: 5px;
    border: 0.1rem;
    border-style: solid;
    border-color: #48ffd5;
    border-radius: 10px;
}
#description{
    margin: auto;
    height: 20vh;
    margin: auto;
}
#play{
    margin: auto;
    display: block;
}
.playbutton{
    text-transform: uppercase;
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center;

    color: #48ffd5;
    padding: 2vmax;
    font-size: 2vmax;
    border-radius: 5vmax;
    border: 0.1rem;
    border: #48ffd5;
    border-width: thin;
    border-style: solid;
}
.playbutton:hover{
    background-image: none;

    color: #0e2a47;
    background-color: #48ffd5;
}

#description{
    display: flex;
    width: 90vw;
    height: 7vh;
}

/* leveloverview */
#level-overview-container{
    background-image: url("./images/factory2.1.png");
    background-size: cover;
    height: 90vh;

    display: grid;
    justify-items: center; 
    align-items: center;
}

#playfield{
    background-image: url("./images/leveloverviewbackground1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

width: 90vw;
max-width: 95vw;
max-height:85vh;
min-height: 15rem;
aspect-ratio: 2/1;

    border: 0.1rem;
    border: #48ffd5;
    border-width: medium;
    border-style: solid;
    border-radius: 15px;
}

.levelButton{
    font-size: 1.5vmin;    
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: center;

        color: #48ffd5;
        margin: auto;
        border: 0.2vmin;
        border-style: solid;
        border-color: #48ffd5;
        border-radius: 50%;
        height: 3vmin;
        width: 3vmin;
        position:relative; 
}

.levelButton:hover{
    background-image: none;
    color: #0e2a47;
    background-color: #ededed; 
}

#levelButton1{
top: 39%;
left: 12.5%;
}

#levelButton2{
    top: 48%;
    left: 18%;
}

/* Leaderboard */
#board-container{
    background-image: url("./images/oilrig2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: auto;
    height: 90vh;
    display: grid;
    justify-content: center;
}

table,td,th{
    background-color: #e7e7e764;
    margin: 20px;
    border: solid 1px;
    border-collapse: collapse;
    font-size: 30px;
    color: #0b2037;
    border-color: #ededed;
    text-align: left;
    padding: 1vh;
}
tr:nth-of-type(even){
    background-color: #48ffd471;
}

th{
    border: solid 1px;
    font-weight: 900;
    border-bottom: solid 1px;
    background-color: #0b2037ad;
    color: #6dffdd;
    border-color: #ededed;
}

/* Progress */
#progress-container{
    background-image: url("./images/factory1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    height: 90vh;
    display: grid;
}

/* Game*/
.game {
    background-color: black;
}
.gameNavbar {
    background-image: url(images/background2.jpg);
    background-size: cover;
    background-position: center;

/*background-color: #48ffd5;*/    
    display: flex;
    align-items: center; /* align vertical */
    justify-content: space-between;
    padding-left: 1vmax;
    padding-right: 1vmax;
    width: 98vw;
    height: 9.7vh;

    border: 0px;
    border-bottom: 0.3vh;
    border-style: solid;
    border-color: #ffffffe8;
    min-height: 1.5rem;
}
.navgamecontent{ 
    width: 60vw;
    color: #000000;
    font-size: clamp(1vmax,2vmax,2vmax);
    text-transform: uppercase;
    text-align: left;
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
}
#navlevelround{
    width: 20vw;
    justify-content: space-between;
}
#score{
    width: 20vw;
    justify-content: right;
}
span{
    color: #1c62ad;
}